* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    font-size: 16px;
    background: #e9e5e5;
}

nav {
    color: #f4f4f4;
    align-items: center;
    padding: 5px 0.5em ;
    min-height: 8vh;

}
a:active {
    outline: none; 
}

#arrow-up {
    color: #968621; 
    font-size: 50px;  
    position: fixed; 
    bottom: 0; 
    right: 0;  
    padding: 30px 10px; 
}
#arrow-up:hover {
    color: #8a8989;
}
.nav li {
    list-style: none;
    /* background-color: #4e4c4c;
    padding: 5px;
    border: none;
    border-radius: 10px; */
}
.navbar, .sm-icon, a{
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.navbar, .sm-icon, a:hover{
    color: #968621;
}
.navbar, .sm-icon, a:active{
    color: #968621;
}
.links {
    color: #751132;
    font-size: 15px;
    text-decoration: none;
}
.send p{
    overflow: hidden;
}
.send {
    margin-top: 20px;
    padding: 20px 20px;
    background: #968621;
    color: #f4f4f4;
    font-size: 14px;
    align-content: center;
    border: none;
    border-radius: 20px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
}
.send:hover {
    background: none;
    color: #000;
    border: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 300px;
    transition: ease-in 1s;
    padding-right: 5px;
}
.logo h2{
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-left: 10px;
}
.highlight {
    color: bisque;
    font-size: 21px;
}

.showcase {
    background: url(./showcase01.jpg) no-repeat center center;
    background-color: black;
    height: 800px;
    text-align: center;
    overflow-y: hidden;
}
.content {
    padding: 35px; 
    background-color: rgba( 255, 255, 255, 0.8);
    width: 50%;
    max-height: 150%;
    transition: ease-in 2s ;
    transform: rotate(360deg);
    margin: 150px 00px;
    margin-left: 25%;
    overflow:  hidden;
    border-radius: 10px;
}
.content h3{
    letter-spacing: 1px;
    font-size: 20px;
    
}
.content p{
    padding-top: 20px;
    letter-spacing: 0.5px;
    font-size: 16px;
}
.ab {
    text-align: left;
    margin-top: 10px;
    padding-left: 50px;
    
}
.ab, .service-header p{
    background: rgba(223, 223, 217, 0.1);
    font-size: 18px;
    color: #1a1a1a;
    letter-spacing: 1px;
}
.about-container {
    overflow: hidden;
    padding: 20px 30px;
}
.about{
    display: flex;
    flex-direction: row;
    padding: 50px 40px;
    width: 50%;
    margin: 40px 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.9);
    background: rgba(223, 223, 217, 0.1);
    overflow: hidden;
    transition: ease-in 1s ;
    transform: rotate(3deg);
    color: #968621;
    text-align: center;
}
.about, .qoute, .qoute-js, .about-js, .service-1, .service-2 p{
    text-align: center;
    margin-top: 30px;
    letter-spacing: 0.5px;
    font-size: 15px;
    line-height: 1.9rem;

}
.display-pics {
    background: url(./snap.jpg) no-repeat center center;
    align-items: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
}

.qoute {
    padding: 50px 30px;
    width: 50%;
    margin: 50px 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #751132;
    overflow: hidden;
    color: #f4f4f4;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.9);
    transition: ease-in 1s;
    transform: rotate(3deg);
}
.qoute p{
    margin-bottom: 30px;
}
.author {
    float: right;
    font-size: 18px;
    border-top: 3px #968621 solid;
    
    padding-top: 10px;
}

.about-js{
    display: flex;
    flex-direction: row;
    padding: 50px 40px;
    width: 50%;
    margin: 40px 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.9);
    background: rgba(223, 223, 217, 0.1);
    overflow: hidden;
    transition: ease-in 1s ;
    transform: rotate(3deg);
    color: #968621;
    text-align: center;
}
.js {
    background: url(./JS.png) no-repeat center center;
    align-items: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    align-items: center;
    flex-direction: row;
    padding: 0;
    
}

.qoute-js {
    padding: 50px 30px;
    width: 50%;
    margin: 20px 30px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #751132;
    overflow: hidden;
    color: #f4f4f4;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.9);
    transition: ease-in 1s ;
    transform: rotate(3deg);
}

.order {
    padding: 20px 30px;
    background: #968621;
    color: #f4f4f4;
    font-size: 14px;
    margin: 30px 40%;
    align-content: center;
    border: none;
    border-radius: 20px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
}
.order:hover {
    background: none;
    color: #000;
    border: none;
}

/* SERVICES */
.service-header, .contact-header{
    margin: 15px 30px; 

}
.service-header, .contact-header h3{
    font-size: 18px;
    font-weight: 700px;
    letter-spacing: 1.5px;
}

.services {
    padding: 30px 5px;
    margin: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.6);
    background: #751132;
    border-radius: 10px;
    color: #f4f4f4;
}
.service-content {
    margin: 20px;
}
.service-content h3{
    text-align: center;
    padding-top: 10px;
    margin: 0;
    font-size: 18px;
    letter-spacing: 1px;
}
.service-content p{
    font-size: 14px;
    letter-spacing: 0.5px;
    padding-top: 10px;
    text-align: center;
}

#iconss {
    text-align: center;
    font-size: 50px;
    padding-bottom: 0;
    margin-bottom: 20px;
    transition: ease-in 3s;
    color: #000;
}
#iconss:hover {
    color: #968621;
}

/* CONTACT */


.map iframe {
    max-width: 100%;
    max-height: 436px;
    margin-right: 20px;
    border-radius: 20px;
    color: #000000;   
    padding: 0px;
    margin-top: 10px;
    padding-left: 0 ;
}

.contact-container {
        padding: 10px 40px;
        margin: 10px;
        box-shadow: 0 15px 50px rgba(122, 75, 75, 0.2);
        background: rgba(223, 223, 217, 0.1);
        border-radius: 10px;
        color: #968621;
    }
.info-text {
        display: grid;
    }
.contact-info {
    margin-left: 20px;
    margin: 20px 0; 
}

.contact-info h3{
    letter-spacing: 1px;
    font-weight: 500;
    padding-right: 0;
}

.contact-info div input[type="text"],.contact-info div textarea {
    width: 100%;
    padding: 11px 10px;
    margin: 10px 0 18px 0;
    background: none;
    outline: none;
    border: 2px solid #383535;
    -webkit-appearance: none;
    }

#text-form {
    padding-bottom: 7px;
    padding-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-style: italic;
}

.form-send {
margin: 30px 40%;
padding: 20px 20px;
background: #968621;
color: #f4f4f4;
font-size: 14px;
align-content: center;
border: none;
border-radius: 20px;
box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
}

.form-send:hover {
background: none;
color: #000;
border: none;
}

footer {
    background: grey;
    padding-top: 10px;
}
footer p{
    text-align: center;
    padding-bottom: 0;
    letter-spacing: 1px;
}
.sm-icon {
    padding-bottom: 10px;
    word-spacing: 10px;
}
@media screen and (min-width: 760px) {
    nav {
        display: flex;
        justify-content: space-between; 
    }
    .about-container {
        display: flex;
    }
    .about, .about-js {
        flex-direction: column;
    }
    .display-pics, .js, .landing-page {
        width: 200px;
        margin-left: 20%;
    }
    .services {
        display: flex;
        flex-basis: 33%;
    }
    .contact-container{
        display: flex;
        flex-basis: 50%; 
        justify-content: space-between;
    }
    .map iframe { 
        margin-top: 90px; 
        padding-left: 40px ;
        padding-top: 30px;
    }
}

@media screen and (max-width: 740px) {
    .content {
        width: 70%;
        max-height: 170%;
        margin-left: 15%;
    }
    .navbar {
        padding: 5px 0;
        margin-left: 18%;
  
    }
    .about, .qoute, .about-js, .qoute-js {
        width: 88%;
        align-items: center;
        flex-direction: column;
    }
    .order {
        margin: 30px 22%;
    }
}


