@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;800&family=PT+Sans:wght@400;700&family=Poppins&family=Redressed&family=Roboto:wght@400;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    line-height: 1.6;
    font-size: 16px;
    background: #e9e5e5;
}

nav {
    color: #f4f4f4;
    align-items: center;
    padding: 10px 0.5em ;
    min-height: 8vh;
    position: absolute;
    width: 100%;
    overflow: hidden;
}
a, a:active, a:hover, a:focus{
    outline: 0; 
}
.noSelect { 
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    -webkit-tap-highlight-color: transparent; 
}

#arrow-up {
    color: #968621; 
    font-size: 50px;  
    position: fixed; 
    bottom: 0; 
    right: 0;  
    padding: 30px 10px; 
}
#arrow-up:hover {
    color: #8a8989;
}
.nav li {
    list-style: none;
}
.sm-icon a{
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
    outline: none;
    border: none;
    cursor: pointer;
}
.navbar, .sm-icon, a:hover{
    color: #968621;
    outline: none;
    border: none;
}
.navbar, a:active{
    color: #000000;
    outline: none;
    border: none;
}
.links {
    color: #751132;
    font-size: 15px;
    text-decoration: none;
}
.send p{
    overflow: hidden;
}
.send {
    margin-top: 20px;
    padding: 15px 100px;
    background: #f4f4f4;
    color: #000000;
    font-size: 14px;
    align-content: center;
    border: none;
    border-radius: 20px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.send:hover {
    background: none;
    color: #000;
    transition: 1s ease-in-out;
    border: none;
    outline: 0;
}
.send:focus {
    border: none;
    outline: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 350px;
    padding-right: 30px;
}
.logo {
    display: flex;
    justify-self: start;
    align-self: start;
    overflow: hidden;
}
.logo h1 {
    font-family: 'Redressed', cursive;  
    font-size: 2.5rem;
    position: absolute;
    top: -5px;
    margin: 0;
    color: #fff;
}

/* .highlight {
    color: #daecf3;
    border-bottom: #524a17 2px solid;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: 'Courgette', cursive;
} */

.showcase {
    background: url(./images/show.jpg) center/cover no-repeat;
    background-color: rgba(17, 17, 17, 0.7);
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    height: 100vh;
    text-align: center;
    overflow-y: hidden;
    color: #fff;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    padding: 0; 
    height: 100vh;
    width: 50%;
    align-content: flex-start;
    transition: ease-in 1s;
    animation: slide-down;
    margin: auto;
    text-align: left;
    overflow:  hidden;
    border-radius: 10px;
}
.content h1{
    letter-spacing: 1px;
    font-size: 3rem;
    font-size: 900;
    line-height: normal;
}
.content p{
    font-size: 18px;
}
.content div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 20px;
    width: 270px;
}
.content div a {
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    align-items: center;
}
.content #contact {
    border: 2px solid #fff;
    padding: 5px 25px;
}
.content #resume {
    position: relative;
    border: 2px solid #751132;
    background-color: #751132;
    padding: 5px 25px;

}
.content #contact:hover {
    background-color: #fff;
    color: #000;
    transform: scale(0.95);
}
.content #resume:hover {
    background-color: transparent;
    transform: scale(0.95);
}
#resume p {
    margin-left: 20px;
}
#resume .iconify {
    position: absolute;
    left: 15px;
    font-size: 24px;
}
.ab, .my-projects, .service-header, .contact-header{
    background: rgba(223, 223, 217, 0.1);
    font-size: 16px;
    color: #1a1a1a;
    letter-spacing: 1px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.about-container {
    overflow: hidden;
    padding: 20px 30px;
    justify-content: center;
    gap: 30px;
}
.about{
    display: flex;
    flex-direction: row;
    padding: 50px 40px;
    width: 40%;
    margin: 40px 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    background: #dfdfd9e6;
    overflow: hidden;
    transition: ease-in 1s ;
    transform: rotate(3deg);
    color: #968621;
    text-align: center;
}
.about, .qoute, .qoute-js, .about-js, .service-1, .service-2 p{
    text-align: center;
    margin-top: 30px;
    letter-spacing: 0.5px;
    font-size: 17px;
    line-height: 1.9rem;
    font-size: 14px;
}
.display-pics {
    background: url(./images/snap.jpg) no-repeat center center;
    background-color: rgba(124, 124, 124, 0.7);
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    align-items: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
}

.qoute {
    padding: 50px 30px;
    width: 40%;
    margin: 50px 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #751132;
    overflow: hidden;
    color: #f4f4f4;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    transition: ease-in 1s;
    transform: rotate(3deg);
}
.qoute p{
    font-size: 14px;
    margin-bottom: 10px;
}
.author {
    float: right;
    font-size: 18px;
    border-top: 3px #968621 solid;
    padding-top: 10px;
}

.about-js{
    display: flex;
    flex-direction: row;
    padding: 50px 40px;
    width: 50%;
    margin: 40px 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    background: rgba(223, 223, 217, 0.9);
    overflow: hidden;
    transition: ease-in 1s ;
    transform: rotate(3deg);
    color: #968621;
    text-align: center;
}
.js {
    background: url(./JS.png) no-repeat center center;
    align-items: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    align-items: center;
    flex-direction: row;
    padding: 0;
    
}

.qoute-js {
    padding: 50px 30px;
    width: 50%;
    margin: 20px 30px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #751132;
    overflow: hidden;
    color: #f4f4f4;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    transition: ease-in 1s ;
    transform: rotate(3deg);
}

.order {
    padding: 20px 30px;
    background: #968621;
    color: #f4f4f4;
    font-size: 14px;
    margin: 30px 40%;
    align-content: center;
    border: none;
    border-radius: 20px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}
.order:hover {
    background: none;
    color: #000;
    border: none;
}

/* SERVICES */
.service-header, .contact-header, .ab, .project-header{
    margin: 15px 0px; 
    text-align: center;
}
.service-header p{
    background: rgba(223, 223, 217, 0.1);
    font-size: 16px;
    color: #1a1a1a;
    letter-spacing: 1px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.service-header h3, .contact-header h3, project-header h3, .ab h3{
    font-size: 20px;
    font-weight: 600px;
    letter-spacing: 2px;

}

.services {
    padding: 30px 5px;
    margin: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    background: #751132;
    border-radius: 10px;
    color: #f4f4f4;
}
.service-content {
    margin: 20px;
}
.service-content h3{
    text-align: center;
    padding-top: 0px;
    margin: 0;
    font-size: 20px;
    letter-spacing: 1px;
    color: #000;
    transition: ease-in 3s;
}
.service-content p{
    font-size: 14px;
    letter-spacing: 0.5px;
    padding-top: 10px;
    text-align: center;
}

#iconss {
    text-align: center;
    font-size: 60px;
    padding-bottom: 0;
    margin-bottom: 10px;
    transition: ease-in 3s;
    color: #000;
}
#iconss:hover {
    color: #968621;
}

/* CONTACT */


.map iframe {
    max-width: 100%;
    max-height: 436px;
    margin-right: 10px;
    border-radius: 20px;
    color: #000000;   
    padding: 0px;
    margin-top: 10px;
    padding-left: 0 ;
}
.map p{
    padding-bottom: 5px;
    align-items: center;
    font-size: 16px;
    color: #968621;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.contact-container {
    padding: 10px 30px;
    margin: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    background: rgba(223, 223, 217, 0.9);
    border-radius: 10px;
    color: #968621;
}
.info-text {
    display: grid;
}
.contact-info {
    margin-left: 20px;
    margin: 20px 0; 
}

.contact-info h3{
    letter-spacing: 1px;
    font-weight: 500;
    padding-right: 0;
}

.contact-info div input[type="text"],.contact-info div textarea {
    width: 100%;
    padding: 5px 10px;
    margin: 10px 0 10px 0;
    background: none;
    outline: none;
    border: 2px solid #383535;
    -webkit-appearance: none;
    font-size: 16px;
    border-radius: 10px;
}

#text-form {
    padding-bottom: 0px;
    padding-top: 15px;
    margin-left: 10px;
    font-size: 16px;
    font-style: italic;
}

.form-send {
margin: 30px 40%;
padding: 20px 20px;
background: #968621;
color: #f4f4f4;
font-size: 14px;
align-content: center;
border: none;
border-radius: 20px;
box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
}

.form-send:hover {
background: none;
color: #000;
border: none;
}
.form-send:focus {
    border: none;
    outline: none;
}

footer {
    background: grey;
    padding-top: 10px;
}
footer p{
    text-align: center;
    padding-bottom: 0;
    letter-spacing: 1.5px;
    padding-bottom: 15px;
}
#bdr {
    border-top: 2px solid #968621;
    
}
.sm-icon {
    padding-bottom: 10px;
    word-spacing: 25px;
}
@media screen and (min-width: 760px) {
    nav {
        display: flex;
        justify-content: space-between; 
    }
    .about-container {
        display: flex;
    }
    .about, .about-js {
        flex-direction: column;
    }
    .display-pics, .js, .landing-page {
        width: 200px;
        margin-left: 20%;
    }
    .services {
        display: flex;
        flex-basis: 33%;
        justify-content: space-around;
    }
    .contact-container{
        display: flex;
        flex-basis: 50%; 
        justify-content: space-around;
    }
    .map iframe{ 
        margin-top: 0px; 
        padding-left: 10px ;
        padding-top: 10px;
        margin-left: 5px;
        /* width: 100%; */
    }
    .map-p{
        margin-top: 20px;
        padding-left: 0px ;
        margin-left: 20px;
    }
    .contact-info {
        border: none;
        padding: 20px  50px;
        border-radius: 20px;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
    }
    .map {
        border: none;
        margin-left: 20px;
        padding: 20px 20px 20px 10px;
        border-radius: 20px;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
    }


    .contact-info div input[type="text"],.contact-info div textarea {
        width: 350px;
        background-color: #f1ecec;
        border-color: #f1ecec;
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    .logo h1{
       font-size: 30px;
       top: 5px;
    }
    .content {
        width: 100%;
        padding: 0 20px;
        margin: auto;
    }
     .content p{
        font-size: 16px;
    }
    /* .navbar {
        padding: 5px 0;
        margin-left: 18%;
  
    } */
    .about, .qoute, .about-js, .qoute-js {
        width: 88%;
        align-items: center;
        flex-direction: column;
    }
    .order {
        margin: 30px 22%;
    }
    
    .line {
        width: 32px;
        height: 3px;
        background: #f4f4f4;
        margin: 7px;
    }
    .line2 {
        width: 27px;
    }
    .line3 {
        width: 22px;
    }
    nav {
        position: relative;
        position: absolute;
        overflow: hidden;
        align-items: center;
        padding: 10px 1em ;
    }
    .hamburger {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        z-index: 2;
        overflow: hidden;
    }
    .container {
        width: 100%;
        height: 50vh;
    }
    .navbar {
        background: transparent; 
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 20px;
        padding-bottom: 10px;
        flex-direction: column;
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        transition: all 1s ease-in;
        pointer-events: none;
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        align-content: center;
        
    }
    .navbar.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .navbar li {
        opacity: 0;
        overflow: hidden;
        border-bottom: 2px solid #d8d8d8;
        margin-left: 60px;
        margin-right: 40px;
        padding-bottom: 10px;
    }
    .navbar li a{
        font-size: 14px;
        text-align: center;
        font-weight: normal;
        overflow: hidden;
    }
    .navbar li :nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .navbar li :nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .navbar li :nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    li.fade {
        opacity: 1;
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,0px);

}

.toggle .line2{
    transform: rotate(-45deg) translate(-5px,4px);
    width: 32px;
}

.toggle .line3{
    transform: rotate(-45deg) translate(-5px,8px);
    width: 32px;
}
    



.my-projects {
    display: flex;
    flex-direction: column;
}
.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.projects div {
    width: 100%;
    align-items: center;
    width: 550px;
    border: 2px solid #751132;
}
.projects div img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
}